<h3><a class="btn btn-secondary" href="/school_Department"><i class="fa fa-plus"></i>Create New</a> List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>School ID</th>
            <th>School Name</th>
            <th>Department ID</th>
            <th>Department Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.schoolId}}</td>
            <td>{{this.schoolName}}</td>
            <td>{{this.departmentId}}</td>
            <td>{{this.departmentName}}</td>

            <td>
                <a href="/school_Department/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i><b>Update</b> &nbsp;&nbsp;</a>
                <a href="/school_Department/delete/{{this._id}}" onclick="return confirm('Are you want to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i><b>Trash</b></a>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>